// Set colors and fonts
$secondary-color: #d6a24a;
$primary-font: 'Source Sans Pro';
$secondary-font: 'Lato';


//This is the section pertaining to the navbar and static top
//______________________________________________________________________________
//______________________________________________________________________________
#staticbar {
  height: 100%;
  width: 100%;
  background-color: black;
  border-bottom: 1px dotted $secondary-color;
  padding-top: 20px;
  padding-bottom: 10px;
}

.tagline {
  font-family: $secondary-font;
  font-size: 9pt;
  color: gray;
  img {
    margin-left: 1%;
    padding: 10px;
    border-radius: 10px;
  }
  img:first-child:hover {
    background-color: blue;
  }
  img:nth-child(1):hover {
    background-color: blue;
  }
  img:nth-child(2):hover {
    background-color: blue;
  }
  img:nth-child(3):hover {
    background-color: red;
  }
  img:nth-child(4):hover {
    background-color: red;
  }
  img:last-child:hover {
    background-color: blue;
  }
}

.navbar-nav {
  font-family: $secondary-font;
  padding-left: 35%;
  max-height: 50px;
  li {
    margin-top: 10px;
  }
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: $secondary-color;
  border-bottom: 2px solid $secondary-color;
}

.navbar {
  margin-bottom: 0px;
}

body {
  // overflow: hidden;
}

html {
  background-color: $secondary-color;
}

.headertagline {
  font-family: $primary-font;
  margin-right: 15%;
}

.container {
  margin-bottom: -12px;
  margin-top: -12px;
}

//This is the portion including the hero
//______________________________________________________________________________
//______________________________________________________________________________
.hero {
  height: 350px;
  width: 100%;
  background-image: url("images/italy.png");
  background-size: cover;
}

//This is the portion below the hero that includes the submit form*/
//______________________________________________________________________________
//_______________________________________________________________________________
.submitinfo {
  font-family: $primary-font;
  height: 100%;
  background-color: $secondary-color;
  padding-left: 125px;
  p {
    font-family: $primary-font;
    font-size: 1.3vw;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 150px;
  }
}

.firstname {
  font-family: $primary-font;
  display: inline-block;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  margin-left: 15px;
}

.submit {
  font-family: $primary-font;
  width: 160px;
  background-color: $secondary-color;
  border: 3px solid black;
  margin-left: 15px;
  border-radius: 5px;
  padding: 5px;
}

.submit:hover {
  font-family: $primary-font;
  color: $secondary-color;
  background-color: black;
}

.communitypicks {
  font-size: 34px;
  display: inline-block;
  font-family: $primary-font;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.events-programs {
  font-size: 34px;
  display: inline-block;
  font-family: $primary-font;
  border-bottom: 1px solid black;
  font-weight: bold;
}

//This is the footer portion//
//______________________________________________________________________________
//______________________________________________________________________________

.col-sm-12 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
  h1 {
    display: flex;
    justify-content: center;
  h4 {
    display: flex;
    justify-content: center;
    }
  }
}

.startearning {
  color: white;
}

.insiderinfo {
  color: $secondary-color;
}

.inputname {
  display: flex;
  justify-content: center;
  height: 40px;
  input {
    border-radius: 10px;
    text-indent: 10px;
    border-style: solid;
  }
  // width: 500px;
}

.inputemail {
  display: flex;
  justify-content: center;
  height: 40px;
  input {
    border-radius: 10px;
    text-indent: 10px;
    border-style: solid;
  }
  // width: 500px;
}

.inputsubmit {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 40px;
  input {
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    background-color: yellow;
    border: 2px solid black;
  &:hover {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    }
  }
}

.vimeo {
  padding: 25px;
}

.belowsubmit {
  color: gray;
  display: flex;
  justify-content: center;
}

.gotaquestion {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
