#staticbar { height: 100%; width: 100%; background-color: black; border-bottom: 1px dotted #d6a24a; padding-top: 20px; padding-bottom: 10px; }

.tagline { font-family: "Lato"; font-size: 9pt; color: gray; }
.tagline img { margin-left: 1%; padding: 10px; border-radius: 10px; }
.tagline img:first-child:hover { background-color: blue; }
.tagline img:nth-child(1):hover { background-color: blue; }
.tagline img:nth-child(2):hover { background-color: blue; }
.tagline img:nth-child(3):hover { background-color: red; }
.tagline img:nth-child(4):hover { background-color: red; }
.tagline img:last-child:hover { background-color: blue; }

.navbar-nav { font-family: "Lato"; padding-left: 35%; max-height: 50px; }
.navbar-nav li { margin-top: 10px; }

.navbar-inverse .navbar-nav > li > a:hover { color: #d6a24a; border-bottom: 2px solid #d6a24a; }

.navbar { margin-bottom: 0px; }

html { background-color: #d6a24a; }

.headertagline { font-family: "Source Sans Pro"; margin-right: 15%; }

.container { margin-bottom: -12px; margin-top: -12px; }

.hero { height: 350px; width: 100%; background-image: url("images/italy.png"); background-size: cover; }

.submitinfo { font-family: "Source Sans Pro"; height: 100%; background-color: #d6a24a; padding-left: 125px; }
.submitinfo p { font-family: "Source Sans Pro"; font-size: 1.3vw; display: inline-block; padding-top: 20px; padding-bottom: 10px; margin-right: 150px; }

.firstname { font-family: "Source Sans Pro"; display: inline-block; border-radius: 5px; border-style: none; padding: 5px; margin-left: 15px; }

.submit { font-family: "Source Sans Pro"; width: 160px; background-color: #d6a24a; border: 3px solid black; margin-left: 15px; border-radius: 5px; padding: 5px; }

.submit:hover { font-family: "Source Sans Pro"; color: #d6a24a; background-color: black; }

.communitypicks { font-size: 34px; display: inline-block; font-family: "Source Sans Pro"; border-bottom: 1px solid black; font-weight: bold; }

.events-programs { font-size: 34px; display: inline-block; font-family: "Source Sans Pro"; border-bottom: 1px solid black; font-weight: bold; }

.col-sm-12 { display: flex; justify-content: center; height: 100%; width: 100%; background-color: black; }
.col-sm-12 h1 { display: flex; justify-content: center; }
.col-sm-12 h1 h4 { display: flex; justify-content: center; }

.startearning { color: white; }

.insiderinfo { color: #d6a24a; }

.inputname { display: flex; justify-content: center; height: 40px; }
.inputname input { border-radius: 10px; text-indent: 10px; border-style: solid; }

.inputemail { display: flex; justify-content: center; height: 40px; }
.inputemail input { border-radius: 10px; text-indent: 10px; border-style: solid; }

.inputsubmit { display: flex; justify-content: center; background-color: black; height: 40px; }
.inputsubmit input { border-radius: 10px; border-style: solid; width: 100%; background-color: yellow; border: 2px solid black; }
.inputsubmit input:hover { background-color: black; color: yellow; border: 2px solid yellow; }

.vimeo { padding: 25px; }

.belowsubmit { color: gray; display: flex; justify-content: center; }

.gotaquestion { background-color: black; color: white; display: flex; justify-content: center; }

/*# sourceMappingURL=KerilSawyer.css.map */
